<div id="priorities-link-bar">
  <%= link_to_function(image_tag("/plugin_assets/redmine_priorities_plugin/images/printer.png", :title =>l(:priorities_print_button_tooltip)), "javascript:print()") %>
</div>
